<%include ../templates/header%>
    
<div class="auth-box">
    <form method="POST" action="/strata-hesla">
        <div class="form-group-block">
            <label for="reset-email">Zadaj svoju e-mailovú adresu</label>
            <input id="reset-email" type="email" name="resetEmail"/>
        </div>
        <button type="submit" class="submit-btn">Potvrdit</button>
    </form>
</div>
<%include ../templates/footer%>