<!DOCTYPE html>
<html>
<head>
    <title>Najdi experta</title>
</head>
<body>
<!--
Vyhladavacie kriteria:
- Mesto kde je ochotny ucit
- Typ vyukovej aktivity (4typy)
- Oblasti v ktorych chce ucit
-->    
</body>
</html>