
<%include ./header%>

<div class="container">
<div class="row">
<div class="col-md-10 ">
<fieldset>

<!-- Form Name -->
<legend>Môj profil</legend>
<a href='/odhlasenie'>Odhlasenie</a>
<a href='/'>Homepage</a>
<a href="/experti">Experti</a>
<!-- Text div-->


<div class="form-group">
  <label class="col-md-4 control-label" for="Name (Full name)">Name (Full name)</label>  
  <div class="col-md-4">
 <div class="div-group">
       <div class="div-group-addon">
        <i class="fa fa-user">
        </i>
       </div>
       <div id="Name (Full name)"  placeholder="Name (Full name)" class="form-control input-md"><%=data.fullname%>
      </div>

    
  </div>

  
</div>


<!-- Text div-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Date Of Birth">Date Of Birth</label>  
  <div class="col-md-4">

  <div class="div-group">
       <div class="div-group-addon">
     <i class="fa fa-birthday-cake"></i>
        
       </div>
       <div id="Date Of Birth" type="text" placeholder="Date Of Birth" class="form-control input-md">
            <%=data.birth%>
      </div>
  
    
  </div>
</div>




<div class="form-group">
  <label class="col-md-4 control-label col-xs-12" for="Permanent Address">Address</label>  
  <div class="col-md-2  col-xs-4">
  <div id="Permanent Address" name="Permanent Address" type="text" placeholder="District" class="form-control input-md ">
  </div>
  <div class="col-md-2 col-xs-4">
  <div id="Permanent Address" ><%=data.adress%>
  </div>
</div>



<!-- Text div-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email Address">Kontaktna emailova adresa</label>  
  <div class="col-md-4">
  <div class="div-group">
       <div class="div-group-addon">
     <i class="fa fa-envelope-o"></i>
        
       </div>
    <div id="Email Address" placeholder="Email Address" class="form-control input-md">
    <b><%=data.email%></b>
      </div>
  
  </div>
</div>




</div>
   </div>
   <%include ./header%>
