<!DOCTYPE html>
<html>
<head>
    <title>univApp</title>
</head>
<body>
    <h2><a href="/registracia" target="_blank">Zaregistrovať sa</a></h2>
    <h2><a href="/prihlasenie" target="_blank">Prihlásiť sa</a></h2>
    <h2><a href="/profil"      target="_blank">Profil</a></h2>
</body>
</html>  