<%include ./header%>
<main>

        <section id="showcase">
            <div class="container">
                <div class="box">
                    <h3>Toto je UnivApp</h3>
                    <p>Najlepsejsia aplikcia spajajuca expertov a profesorov.</p>
                </div>
            </div>
            
        </section>
        <section id="whoweare">
                <div class="container">
                <div class="box">
                <h3>Toto je UnivApp</h3>
                <p>Najlepsejsia aplikcia spajajuca expertov a profesorov.</p>
            </div>
        </div>
        </section>



    
        <section id="showcase">
                <div class="container">
                    <div class="box">
                        <h3>Toto je UnivApp</h3>
                        <p>Najlepsejsia aplikcia spajajuca expertov a profesorov.</p>
                    </div>
                </div>
                
            </section>
            <section id="whoweare">
                    <div class="container">
                    <div class="box">
                    <h3>Toto je UnivApp</h3>
                    <p>Najlepsejsia aplikcia spajajuca expertov a profesorov.</p>
                </div>
            </div>
            </section>

  </main>
<%include ./footer%>
 