<!DOCTYPE html>
<html>
<head>
    <title>univApp</title>
</head>
<body>
    <h2><a href="/registracia" >Zaregistrovať sa</a></h2>
    <h2><a href="/prihlasenie" >Prihlásiť sa</a></h2>
    <h2><a href="/profil" >Profil</a></h2>

</body>
</html>  