<div id="homepage">
    <%include ./templates/header%>
        <div class="homepage-banner">
                <div class="container">
                        <div class="homepage-box text-center">
                            <h2>EduYouth myslí na budúcnosť</h2>
                            <p>Jediná aplikácia spájajúca expertov a profesorov <br> pre spoločný cieľ vzdelávania mládeže.</p>
                            <a class="primary-btn" href="/registracia">Registrovať sa</a>
                        </div>
                </div>
        </div>    

    <%include ./templates/footer%>
    </div>    
 