<!DOCTYPE html>
<html>
<head>
    <title>DOkonci registraciu</title>
    <link rel='stylesheet' type='text/css' href='/./style.css'>
</head>
<body>

    

<form id="regForm" method='POST' action="/<%=url%>/dokoncenie">

<div class="tab">Prosim urcite co ste:
    <p><input type='radio' class='radio' name='type' value='expert'>Expert</p>
    <p><input type='radio' name='type' class='radio' value='profesor'>Profesor</p>
</div>
 
<div class="tab">Ak chcete byt expert:
  <p><input type='checkbox' name='predmety' value='matematika' placeholder="Predmety ktore chcem ucit" oninput="this.className = ''">Matematika</p>
  <p><input type='checkbox' name='predmety' value='dejepis' placeholder="Typ vyucby ktory si volim" oninput="this.className = ''">Dejepis</p>
</div>
<%#{%>

<div class="tab">Vypln si profil:
  <p><input placeholder="Povalenie" name="povolanie" oninput="this.className = ''"></p>
  <p><input placeholder="Mesto" name="mesto" oninput="this.className = ''"></p>
</div>

    
<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>

</form>
<script src='/./script.js'></script>
</body>
</html>