<!DOCTYPE html>
<html>
<head>
    <title>prihlasnie</title>
</head>
<body>
    <h2>Prihlasenie</h2>
    <form method='POST' action='/prihlasenie'>
        <input type='text' name='username' placeholder='Užívatelské meno'>
        <input type='password' name='password' placeholder='Heslo'>
        <button type='submit'>Prihlásiť sa</button>
    </form>    
    <h2>Prihlasenie cez linkedin</h2>
    <a href='/auth/linkedin'>Prihlasit tu</a>
    <br>
    <br>
    <br>
    <a href='/'>Homepage</a>
</body>
</html>  