<!DOCTYPE html>
<html>
<head>
    <title>profil</title>
</head>
<body>
    <h2>Môj profil</h2>
    <a href='/odhlasenie'>Odhlásiť sa</a>
    <br>
    <br>
    <br>
    <a href='/'>Homepage</a>
</body>
</html>  