<!DOCTYPE html>
<html>
<head>
    <title>registracia</title>
</head>
<body>
    <h2>Registracia cez email</h2>
    <form method='POST' action='/registracia' >
       <input type='email' name='email' placeholder='Email'>
       <input type='text' name='username' placeholder='Užívatelské meno'>
       <input type='password' name='password' placeholder='Heslo'>
       <button type='submit'>Registrovať sa</button>
    </form>
    <h2>Registracia cez linkedin</h2>
    <a href='/registracia'>Registrovať tu</a>
    <br>
    <br>
    <br>
    <a href='/'>Homepage</a>
</body>
</html>  