<%include ./header%>
  <div id="registracia-box">
    <h2>Registracia cez email</h2>
    <form method='POST' action='/registracia' >
       <input type='email' name='email' placeholder='Email'>
     <!-- 
       <p>Prosim urcite co ste:</p>
       <input type='radio' name='type' value='expert'>Expert<br>
       <input type='radio' name='type' value='profesor'>Profesor<br>
       -->
       <input type='password' name='password' placeholder='Heslo'>
       <button type='submit'>Registrovať sa</button>
    </form>
    <h2>Registracia cez linkedin</h2>
    <a href='/auth/linkedin'>Registrovať tu</a>
  </div>
    

    <%include ./footer%>