<!DOCTYPE html>
<html>
<head>
    <title>Registracia</title>
</head>
<body>
    <h2>Registracia cez email</h2>
    <form method='POST' action='/registracia' >
       <input type='email' name='email' placeholder='Email'>
     <!-- 
       <p>Prosim urcite co ste:</p>
       <input type='radio' name='type' value='expert'>Expert<br>
       <input type='radio' name='type' value='profesor'>Profesor<br>
       -->
       <input type='password' name='password' placeholder='Heslo'>
       <button type='submit'>Registrova큐 sa</button>
    </form>
    <h2>Registracia cez linkedin</h2>
    <a href='/auth/linkedin'>Registrova큐 tu</a>
    <br>
    <br>
    <br>
    <a href='/'>Homepage</a>
<!--
    EXPERT
    ---
    username/?meno
    password
    mesto kde chce posobit / ? Univerzita
    typ vyucby
    oblasti v ktorych chce ucit
-->

<!--
    PROFESOR
    ---
    username/?meno
    password

    2 mo탑nosti registracie:
    A. 1 krokove
    B. 2 krokove

    2 mo탑nosti vyplnenia profilu
    A. Pocas registracie
    B. Uz v profile

    Profesori
  A  1. Krok = Email 
     2. Krok = Potvrdenie emailu / Profil + hlasenie o potvrdeni emailu
    
  B  1. Krok = Oauth

    Experti
  A  1. Krok = Email
     2. Krok = Vyplnenie 3 koloniek
     3. Krok = Potvrdenie emailu / Profil + hlasenie o potvrdeni emailu 

  B  1. Krok = Oauth
     2. Krok = Vyplnenie 3 koloniek 
     
     
     Podmienky:
     - Kroky musia byt bez refreshu

-->

</body>
</html>  